<div class=""  style="margin:5% 10%; font-size: 18px; width: 50%;">
    <div class="text">Save Message</div>
  
    <form [formGroup]="issueForm">
      <div class="form-row" style="margin:5% 0">
        <div class="input-data">
          <label for="Identifier" class="control-label required"></label>
          <input type="text" id="Identifier" class="form-control" placeholder="Subject" formControlName="identifier"
            [(ngModel)]="message.identifier" />
   
        </div>
      </div>
      
  
      <div class="form-row" style="margin:5% 0">
        <div class="input-data" style="margin-bottom:40px ;" >
          <label for="Description" class="control-label required"></label>
          <textarea class="form-control" id="Description" placeholder="Description" formControlName="description"
            [(ngModel)]="message.description" rows="3"></textarea>
          <div class="underline"></div>
          <app-form-validation-common [displayError]="isFieldValid('description')" errorMsg="*Please enter a brief description"></app-form-validation-common>
        </div>
      </div>
      <br />
      <br />
  
      <button class="submit" (click)="onSubmit()" [routerLink]="['/message-list']">CREATE</button>
      <a class="submit1" (click)="reset()">CANCEL</a>
    </form>
  </div>
  