<div style="margin: 2.5rem;">
  <div className="content-layer">
    <h2>Dashboard</h2>
    <br><br>
    <div className="row">
      <div className="col">
        <div className="row widget-1 w-100">
          <div className="col mt-5 text-center">
            <h5>Manager Count</h5>
            <h1 className="stat-number">12</h1>
            <h5>Worker Count</h5>
            <h1 className="stat-number">06</h1>
          </div>
        </div>
      </div>
      <div className="col">
        <div className="row widget-2 text-end">
          <h1 id="time"></h1>
          <h3 id="date"></h3>
        </div>
        
      </div>
    </div>
  </div>
</div>


