<div class="main">
  <div class="log">
    <h2>USER LOGIN</h2>
  </div>
  <form class="form1" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input class="un" type="text" placeholder="Username" formControlName="username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div class="underline">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <input class="pass" type="password" placeholder="Password" formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div class="underline">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <button class="submit">LOGIN</button>
  </form>
</div>
